.data-input {
    width: 80%;
    height: 180px;
    padding: 12px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    box-sizing: border-box;
    border-style: solid;
    border-color: #30d456;
    border-width: 1ex;
    text-align: justify;
    
    
    
  }

.username-input {
    width: 40%;
    padding: 12px 20px;
    display: block;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-style: solid;
    border-color: #30d456;
    border-width: 1ex;
    
    
  }

.title-input {
    width: 60%;
    padding: 12px 20px;
    display: block;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-style: solid;
    border-color: #30d456;
    border-width: 1ex;
    
    
  }

  .background{
    background-color: #242424;
  }

  .text{
    font-size: 18px;   
    
    font-weight: bold;   
    text-align: center;
    color: #30d456;
  }

  .data-input:hover{
    border-color: lightgreen;
    background-color: white;
    transition: 2s;
}

.title-input:hover{
    border-color: lightgreen;
    background-color: white;
    transition: 2s;
}

.username-input:hover{
    border-color: lightgreen;
    background-color: white;
    transition: 2s;
}

/* CSS */
.button-56 {
  background-color: #30d456;
  border-radius: 100px;
  box-shadow: rgba(193, 195, 194, 0.2) 0 -25px 18px -14px inset,rgba(237, 237, 237, 0.659) 0 1px 2px,rgba(255, 255, 255, 0.15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(4, 70, 19);
  cursor: pointer;
  display: inline-block;
  font-family: 'georgia';   
    font-weight: bold;   
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-56:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05);
  color: rgb(112, 131, 112);
}
.button-56:active{
  transform: translateY(5px);
  transition: 0.3s;
}

.discussion-Table{

    /*border-color: #30d456;*/
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(0, 59, 0);
    border-width: 1ex;
}

.title-Text{
    font-size: 25px;   

    font-weight: bold;   
    text-align: left;
    color: white;
   
  }

.user-Text{
    font-size: 15px;   
    
    font-weight: bold;   
    text-align: left;
    color: white;
   
  }

.message-Text{
    font-size: 21px;   

    text-align: left;
    color: white;
   
  }