.headings{
    font-size: 2px;
    color: white;  
}

.tbl-heading{
    font-size: 20px;
    color: white;
}

.form-container{
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid lightgrey;
    box-shadow: 2px #30d456;;
    z-index: 9;
    max-height: fit-content;
    max-width: fit-content;
    padding: 10px;
    background-color: #242424;
  }


.form-container input {
    width: 100%;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
    box-shadow: 2px 2px lightgray;
    border-radius:10px;
    background-color: #242424;
    color: white;
  }

  .form-container label{
    color: white;
  }

  
 .form-container input:focus {
    box-shadow: 5px 5px #30d456;
  }

  .form-container :-ms-input-placeholder{
    color: lightgrey;
  }

  .form-container button{

    background-color: #242424; /* Green */
    border: 4px #30d456;
    color: white;
    border-radius: 12px;
    transition-duration: 0.4s;
    justify-content: center;
    border-color: 4px #30d456;

  }


 
  .form-container button:hover{
    background-color: #30d456;

  }

  .booking-summary{
    color: white;
  }