.search-input, .search-input::placeholder{
    width: 100%;
    background-color: gray;
    color: white;
    z-index: 1;
    margin-top: 5px;
}


.search-img{
    display: block;
    max-width: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.search-img:hover{
    transform: scale(1.2) translateY(-10px);
    transition: 0.4s;
}
.search-result{
    z-index: 1000;
    height: 100%;
    background-color: black;
    text-decoration: none;
    overflow: hidden;
    overflow-y: auto;
}
.search-result:empty{
   display: none;
}

.search-result::-webkit-scrollbar{
    display: none;
    transition: 1s;
}

.data-item{
    width: 300px;
    height: 200px;
    text-align: center;
    color: white;
}

.film-title{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.film-title:hover{
    background-color: #30d456;
    color: white;
    transition: 1s;
}
.film-title:active{
    transform: translateY(5px);
    transition: 1s;
}
.data-item p {
    padding: 5px;
}
a{
    text-decoration: none;
}
#clearBtn{
    cursor: pointer;
}
