.screening-row{
    display: static;
    width: 20%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}

.bookingPage {
    text-decoration: none;
    position: sticky;

}
.bookingPageContainer{
    margin-left: 0%;
    margin-right: 0%;
}

.payment-btn{
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
    border-radius: 20px;
}

.seating-btn{
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
    width: 40%;
}

.payment-btn:hover{
    color: #30d456;
    transition: 0.4s;
    size: 5%;
}

.seating-btn:hover{
    color: #30d456;
    transition: 0.4s;
    size: 5%;
}


.seating-img{
    margin-left: 32%;
    margin-right:auto;
    width: 500px;
    height: 300px;
    padding-top: 20px;

}

.movie-img{
    width: 10%;
    height: 30%;
    margin-left: 45%;
    margin-right: 10%;
    display: static;
}