.screening-row{
    display: static;
    width: 20%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}


img{
    width: 40%;
    height: 60%;
    margin-left: 5px;
    margin-right: 5px;
    display: static;
}
.bookingPage {
    text-decoration: none;
    position: sticky;

}
.bookingPageContainer{
    margin-left: 0%;
    margin-right: 0%;
}

.payment-btn{
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
}

.seating-btn{
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
    width: 40%;
}

.payment-btn:hover{
    color: #30d456;
    transition: 0.4s;
    size: 5%;
}

.seating-btn:hover{
    color: #30d456;
    transition: 0.4s;
    size: 5%;
}


.movie-img{
    margin-left:auto;
    margin-right:auto;
    width: 20%;
    height: 10%;
}

.seating-img{
    margin-left:auto;
    margin-right:auto;
    width: 500px;
    height: 300px;

}