.title{
    color: white;
}

.book-btn{
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
    width: 100%;
    height:100%;
    text-align: center;
}

.book-btn:hover{
    color: #30d456;
    transition: 0.4s;
    size: 5%;
}